In [4]:
a="revathi"
a

'revathi'

In [41]:
from random import randint
def marksgen(n,lb,ub):
    with open('data files/marks.txt','w')as f:
        for i in range(0,n):
            r=randint(lb,ub)
            f.write(str(r)+'\n')
    return
n=int(input())
lb=int(input("lb:"))
ub=int(input("ub:"))
marksgen(n,lb,ub)

50
lb:0
ub:100

In [42]:
#class average
with open('data files/marks.txt','r')as f:
    h=f.read()
    marks=h.split()
    sum=0
    for mark in marks:
        sum=sum+int(mark)
    print(sum/len(marks))

54.4

In [51]:
with open('data files/marks.txt','r')as f:
    h=f.read()
    marks=h.split()
    pc=0
    for mark in marks:
        if int(mark)>=45:
            pc=pc+1
    print(pc)
    print(pc/len(marks)*100)

34
68.0

In [44]:
with open('data files/marks.txt','r')as f:
    h=f.read()
    marks=h.split()
    fc=0
    for mark in marks:
        if int(mark)<=45:
            fc=fc+1
    print(fc/len(marks)*100)

32.0

In [47]:
with open('data files/marks.txt','r')as f:
    h=f.read()
    marks=h.split()
    pc=0
    for mark in marks:
        if int(mark)>=45:
            pc=pc+1
    print(pc)
    print(pc/len(marks)*100)

34
68.0

In [53]:
with open('data files/marks.txt','r')as f:
    h=f.read()
    marks=h.split()
    pc=0
    for mark in marks:
        if int(mark)==73:
            pc=pc+1
    print(pc)
    print(pc/len(marks)*100)

1
2.0

In [63]:
def varlen(num,*args):
    num=10
    print(num)
    for a in args:
        print(a)
varlen(10,'python','online','program',20,89.5,'hello',1,2,mavtiltfdxn',1,2,3,4,5)

python
online
program
20
89.5
hello
1
2
3
4
hi
neelimavtiltfdxn
1
2
3
4
5

In [64]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [76]:
d={
    "name":'revathi',
    "mark":100
}
d.get("name")

'revathi'

In [78]:
d={
    "name":'revathi',
    'mark':100
}
d.setdefault('mark')

100

In [79]:
d={
    "name":'revathi',
    'mark':100
}
d.pop("name")

'revathi'

In [81]:
d={
    "name":'revathi',
    'mark':100
}
d.update("name":'hello')

SyntaxError: invalid syntax (<ipython-input-81-46a76b746bb3>, line 5)

In [84]:
d={
    "name":'revathi',
    'mark':100
}
d.popitem()

('mark', 100)

In [96]:
d={
    "name":'revathi',
    'mark':100
}
d["hello"]='hii'
d

{'name': 'revathi', 'mark': 100, 'hello': 'hii'}

In [100]:
d={
    "name":'revathi',
    'mark':100
}
d.remove()
d

AttributeError: 'dict' object has no attribute 'remove'

In [90]:
d={
    "name":'revathi',
    'mark':100
}
d.update({'name':20})
d

{'name': 20, 'mark': 100}

In [91]:
#from keys(sequence,value)
t=('key1','key2')
d=dict.fromkeys(t)
d

{'key1': None, 'key2': None}

In [92]:
t=('key1','key2')
d=dict.fromkeys(t,10)
d

{'key1': 10, 'key2': 10}

In [95]:
t=('key1','huhu')
d=dict.fromkeys(t,10)
d

{'key1': 10, 'huhu': 10}

# sets
    - represented by {}
    - doesnt allow duplicates
    -unordered and unindexed

In [105]:
a=[1,2,3,4]
s=set(a)
type(s)
print(s)

{1, 2, 3, 4}

In [109]:
#using membership opertors in sets
a=[1,2,3,4]
s=set(a)
if 1 in s:
    print("yes")
else:
    print("no")

yes

In [111]:
a=[1,2,3,4]
s=set(a)
s.update({15,6,7,8})
s

{1, 2, 3, 4, 6, 7, 8, 15}

In [115]:
a=[1,2,3,4]
s=set(a)
s.add(5)
s

{1, 2, 3, 4, 5}

In [122]:
a=[1,2,3,4]
s=set(a)
s.pop()
s

{2, 3, 4}

In [123]:
a=[1,2,3,4]
s=set(a)
s.remove(3)
s

{1, 2, 4}

In [124]:
a=[1,2,3,4]
s=set(a)
s.remove(5)
s

KeyError: 5

In [125]:
a=[1,2,3,4]
s=set(a)
s.discard(5)
s

{1, 2, 3, 4}

In [119]:
a=[1,2,3,4]
s=set(a)
s.discard(3)
s

{1, 2, 4}

In [130]:
a={1,2,3,4,5}
b={1,2,3,4}
c=a.difference(b)
d=b.difference(a)
print(set(c))
print(set(d))

{5}
set()

In [137]:
a={1,2,3,4}
b={1,2,3,5,6,4}
c=a.difference_update(b)
a

set()

######

In [138]:
a={1,2,3,4}
b={1,2,3}
c=a.difference_update(b)
a

{4}

In [140]:
a={1,2,3,4}
b={1,2,3,5,6,4}
c=a.intersection(b)
d=b.difference_update(b)
print(a)
print(b)

{1, 2, 3, 4}
set()

In [141]:
a={1,2,3,4}
b={1,2,3,5,6,4}
c=a.intersection(b)
c

{1, 2, 3, 4}

In [142]:
a={1,2,3,4}
b={1,2,3,5,6,4}
c=a.symmetric_difference(b)
c

{5, 6}

In [145]:
a={1,2,3,4}
b={5,6}
c=a.intersection(b)
c

set()

In [147]:
a={1,2,3,4}
b={1,2,4}
c=a.symmetric_difference(b)
c

{3}

In [156]:
a={1,2,3,4}
b={1,2,3,5,6,4}
c=b.symmetric_difference_update(a)
print(a)

{1, 2, 3, 4}

In [157]:
a={1,2,3,4}
b={1,2,3,5,6,4}
c=a.isdisjoint(b)
c

False

In [160]:
a={1,2,3,4}
b={1,2,3,5,6,4}
c=a.issuperset(b)
c

False

In [7]:
n=int(input())
for i in range(0,n+1):
    print()
    for j in range(n-1,i-1,-1):
        print("*",end=" ")

5

* * * * *
* * * *
* * *
* *
*

In [10]:
n=int(input())
for i in range(0,n+1):
    print()
    for j in range(1,i+1):
        print("*",end=" ")

5


*
* *
* * *
* * * *
* * * * *

In [18]:
n=int(input())
for i in range(0,n):
    for j in range(0,i+1):
         print("*",end=" ")
    print(" ")
for i in range(n+1,0,-1):
    for j in range(1,i-1):
        print("*",end=" ")
    print(" ")

5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#  object  oriented programming language 
    *class
    (collection of variables and methods
    --syntax
        - class classname:
              '''documentation'''
              variables
              methods
    --Rules
        -should be capital
        -doesnt allow spaces 
        -doesnot allow keywords
    *object
    *constructor
    *inheritance
    *packages and modules using oops

In [27]:
class Exm:
    '''basic example'''
    a=10
    def exmp():
        print('From exmp function...')
print(Exm.a)
print(Exm.exmp())

10
From exmp function...
None

In [33]:
#must be used return in a function
class Exm:
    '''basic example'''
    a=10
    def exmp():
        return'From exmp function...'
print(Exm.a)
print(Exm.exmp())
print(Exm.__doc__)

10
From exmp function...
basic example

In [34]:
class Exm:
    #'''basic example'''
    a=10
    def exmp():
        return'From exmp function...'
print(Exm.a)
print(Exm.exmp())
print(Exm.__doc__)

10
From exmp function...
None

In [46]:
class Factorial:
    n=5
    def fact():
        return'from fact function'
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

120

In [50]:
class Factorial:
    def fact(self,n):
        fact=1
        for i in range(1,n+1):
            fact=fact*i
        print(fact)
n=Factorial()
n.fact(5)

120

In [84]:
class Prime:
    n=5
    def prime():
        return'from prime function'
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count=count+1
    if count==2:
        print("prime")
    else:
        print("not a prime")

prime

In [95]:
#constructor
class Nonparacons():
    def __init__(self):
        print('using only self')
    def show(name):
        print('welcome',name)
np=Nonparacons()
np.show()

using only self
welcome <__main__.Nonparacons object at 0x034267C0>

In [96]:
class Nonparacons():
    def __init__(self):
        print('using only self')
    def show(self,name):
        print('welcome',name)
np=Nonparacons()
np.show('hello')

using only self
welcome hello

In [110]:
#parameterized constructor
class ParaCons:
    def addd():
        return('from addd function')
    def add():
        a=5
        b=10
        return(a+b)
pc = ParaCons
pc.add()

15

In [111]:
class ParaCons:
    def __init__(abc,a,b):
        abc.a=a
        abc.b=b
    def add(abc):
        return abc.a+abc.b
pc = ParaCons(5,7)
pc.add()

12

In [116]:
class MultiCons():
    def __init__(self):
        print('from first cons')
    def __init__(self):
        print('from second cons')
MC=MultiCons()

from second cons

In [126]:
#inheritance
class A:
    a=1
    def ca():
        return'from A function'
class B:
    b=5
    def cb():
        return'from B class'
obj=B
obj.cb()

'from B class'

In [127]:
class A:
    a=1
    def ca():
        return'from A function'
class B:
    b=5
    def cb():
        return'from B class'
obj=B
print(obj.cb())
obj=A
print(obj.ca())

from B class
from A function

In [ ]:
from packages math.py import